body {
    margin: 20px;
   
    font-family: 'Franklin Gothic Medium';
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dee2e6;
    color: #2b2839;
    border-bottom: 8px solid #212529;
    border-radius: 15px;
    text-shadow: 2px 2px 20px;
    box-shadow: 5px 5px 20px 10px rgba(0,0,0,1.0);
        
  
}

.border-blue {
    border: 1px dotted blue;
}



